:root{
    --primary : #FF8C69;
    --accent : #ffb347;
    --light :#FFDAB9;
    --bg: #FFFAF5;
    --text: #2D2D2D;
    --white: #FFFFFF;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
}

.page{
    background-color: var(--white);
    color: var(--text);
    width: 900px;
    min-height: 650px;
    border-radius: 20px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}
header{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    border-bottom: 3px solid var(--light);
}

.layout{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex: 1;
}

.summary{
    margin-left: 15px;
    border-right: 3px solid var(--light);
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
}



.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 400px;
    padding: 20px;
    gap: 15px;
}

#balanceCard{
    background-color: var(--primary);
    width: 350px;
    height: 70px;
    border-radius: 13px;
    margin-bottom: 15px;
}

#balanceCard h3 {
    font-size: 30px;
    padding-left: 10px;
     padding-top: 10px;
}
#expenseCard{
    background-color: var(--primary);
    width: 300px;
    height: 50px;
    border-radius: 13px;
    margin-bottom: 25px;
}

#expenseCard h3 {
    font-size: 25px;
    padding-left: 10px;
     padding-top: 10px;
}
#incomeCard{
    background-color: var(--primary);
    width: 300px;
    height: 50px;
    border-radius: 13px;
    margin-bottom: 10px;
}

#incomeCard h3 {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
}

.category-btn {
    width: 275px;
    height: 45px;
    font-size: 25px;
    border: none;
    background-color: var(--accent);
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding: 10px;
    display: flex;
    cursor: pointer;
    
}

.main{
    display: flex;
    flex-direction: column;
}

.main h2{
    font-size: 35px;
}

.main label{
    font-size: 20px;
}

.inputbox{
    height: 25px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;  
}

#amountInput{
    margin-bottom: 20px;
}

#category{
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px; 
}
.addbtn-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.addbtn{
    width: 120px;
    height: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;

}

.list h4{
    font-size: 35px;
}

#expense {
    background-color: var(--primary);
    border-radius: 5px;
}

#income {
    background-color: var(--accent);
    border-radius: 5px;
}